@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --font-primary: 'Ubuntu', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;

  /* Primary Colors */
  --primary-1: #9785BA;
  --primary-2: #AF9FCD;
  --primary-3: #F9FAFA;
  
  /* Secondary Colors */
  --secondary-1: #D7C7F4;
  --secondary-2: #FFFFFF;
  
  /* Text Colors */
  --text-white: #FFFFFF;
  --text-light-purple: #AF9FCD;
  --text-dark: #3C3C3C;
  
  /* Gradients */
  --text-gradient: linear-gradient(180deg, #FFFFFF 0%, #9785BA 100%);
  
  /* Borders */
  --border-width: 1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--primary-3);
  color: var(--text-dark);
  height: 100vh;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

#root {
  height: 100%;
}